<div>
	<button
		class="btn btn-primary"
		(click)="
			imagen =
				'https://images.pexels.com/photos/18602620/pexels-photo-18602620/free-photo-of-comida-madera-azucar-caer.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
		"
	>
		Imagen 1
	</button>
	<button
		class="btn btn-danger mx-2"
		(click)="
			imagen =
				'https://images.pexels.com/photos/18608160/pexels-photo-18608160/free-photo-of-parque-nacional-del-teide-tenerife.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
		"
	>
		imagen 2
	</button>
</div>

<img [src]="imagen" alt="" />
